<html>
<body>
    <h1>Выписка заказа</h1>
    <p>
        Номер заказа {{ order.id }}<br>
        <span class="secondary">
            {{ order.created|date:"M d, Y" }}
        </span>
    </p>
    <h3>Данные для оплаты.</h3>
    <p>
      Имя заказчика : {{ order.full_name }}<br>
      E-mail заказчика : {{ order.email }}<br>
      Адрес заказчика : {{ order.address }}<br>
      Почтовый код : {{ order.postal_code }}
    <h3>Товары в заказе</h3>
    <table>
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма заказа</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ item.product.name }}</td>
                <td class="num">₽{{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">₽{{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">Итог</td>
                <td class="num">₽{{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>

    <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
        {% if order.paid %}Оплачен{% else %}Ожидается платеж{% endif %}
    </span>
</body>
</html>