{% extends "admin/base_site.html" %}

{% block title %}
    Заказ {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Главная</a> &rsaquo;
        <a href="{% url "admin:orders_order_changelist" %}">Заказы</a> &rsaquo;
        <a href="{% url "admin:orders_order_change" order.id %}">Заказ {{ order.id }}</a> &rsaquo; Детали
    </div>
{% endblock %}

{% block content %}
<div class="module">
    <h1>Заказ {{ order.id }}</h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">
                Print order
            </a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Создан</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Покупатель</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Адресс</th>
            <td>
                {{ order.address }},
                {{order.postal_code }} {{ order.city }}
            </td>
        </tr>
        <tr>
            <th>Количество</th>
            <td>{% if order.paid %}Оплачен{% else %}Ожидаеся платеж{%endif %}</td>
        </tr>
        <tr>
            <th>Оплата yookassa</th>
            <td>
                {% if order.stripe_id %}
                    <a href="{{ order.get_stripe_url }}" target="_blank">
                        {{ order.stripe_id }}
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<div class="module">
    <h2>Купленные товары</h2>
    <table style="width:100%">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итоговая цена</th>
        </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>{{ item.product.name }}</td>
                    <td class="num">₽{{ item.price }}</td>
                    <td class="num">₽{{ item.quantity }}</td>
                    <td class="num">₽{{ item.get_cost }}</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">Итоговая цена</td>
                <td class="num">₽{{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}