{%  include "shop/base.html" %}

{% load static %}



{% block content %}

    <br>
    <div class="container bg-white shadow-md p-3">
        <h4>Приветствуем, {{ user.username }}!</h4>

        <hr>

        <h6>Личная информация</h6>

        <a href="{% url 'account:logout' %}">
        <button class="btn btn-primary">
            Выйти
            </button>
        </a>

        <a href="{% url 'account:profile-management' %}">
            <button class="btn btn-success">
                Управление профилем
                </button>
            </a>
        
            <a href="{% url 'orders:get_user_orders' %}">
                <button class="btn btn-success">
                    Просмотр заказов
                    </button>
                </a>
            
        
        
            <a href="{% url 'account:delete-user' %}">
                <button class="btn btn-warning">
                    Удалить аккаунт
                    </button>
                </a>

    </div>
{% endblock %}