{% extends "shop/base.html" %}
{% load static %}

{% block title %}Избранные товары{% endblock %}



{% block content %}

<style>
.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
    width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #413f3f;
	font-weight: 600;
}



.product-links a {
	font-size: 20px;
	margin-left: 10px;
}
</style>



<section class="main-content">
    <div class="container">
        <div class="row">
            {% for favorite_product in favorite_products %}
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ favorite_product.product.get_absolute_url }}"><img src="{% if favorite_product.product.image %}{{ favorite_product.product.image.url }}{% else %}{% static "img/no_image.jpg" %}{% endif %}" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="{{ favorite_product.product.get_absolute_url }}" style="font-size: 25px;">{{ favorite_product.product.name }}</a></h4>
                        <p>{{ favorite_product.product.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{ favorite_product.product.price }}
                            </div>
                            <div class="product-links">
                                <a href="#" class="add-to-cart-link" data-product-id="{{ favorite_product.product.id }}" data-tip="В корзину">
                                    
                                    {% if favorite_product.product.id in inCart %}
                                        <img src="{% static "img/ok.png" %}">
                                    {% else %}
                                        <img src="{% static "img/cart.png" %}">
                                    {% endif %}
                                    
                                </a>
                                <a href="#" class="favorite-link" data-product-id="{{ favorite_product.product.id }}" data-tip="В избранное">

                                    {% if favorite_product.product.id %}
                                        <img src="{% static "images/like.png" %}">
                                    {% else %}
                                        <img src="{% static "images/heart.png" %}">
                                    {% endif %}
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



{% endblock %}