{% extends "shop/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-abcdef" crossorigin="anonymous">
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}




<style>
.product-grid{ 
    font-family: 'Fira Sans', sans-serif;
    min-height:70%;
}
.product-grid .product-image{
    position: relative;
    overflow: hidden;
    
    

}
.product-grid .product-image a.image{ display: block; }
.product-grid.new .product-image a.image:before,
.product-grid .product-image a.image:after{
    content: '';
    background-color: #ffd800;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: -25px;
}
.product-grid .product-image a.image:after{
    height: 120px;
    width: 120px;
    right: auto;
    left: -120px;
    top: auto;
    bottom: -120px;
    transition: all 0.3s ease;
}
.product-grid:hover .product-image a.image:after{
    left: -25px;
    bottom: -40px;
}
.product-grid .product-image img{
    width: 100%;
    height: 80%;
}
.product-grid .product-new-label{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 7px;
    right: 5px;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 7px;
    right: 10px;
}
.product-grid .product-links li{
    margin: 0 0 4px;
    transform: translateX(100px);
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links li{ transform: translateX(0); }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.2s; }
.product-grid .product-links li:last-child{ margin: 0; }
.product-grid .product-links li a{
    color: #000;
    background: rgba(255,216,0,0.2);
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height:45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    position: relative;
    transition: all 200ms ease 0s;
}
.product-grid .product-links li a:hover{ background: #ffd800; }
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 14px;
    line-height: 22px;
    border-radius: 0;
    padding: 8px 15px;
    border-radius: 5px;
    white-space: nowrap;
    transform: translateY(-50%);
    visibility: hidden;
    position: absolute;
    right: 60px;
    top: 50%;
    transition: all 0.3s ease;
}
.product-grid .product-links li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 58px;
    z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
    visibility: visible;
}
.product-grid .product-links li a:hover:before{ right: 55px; }
.product-grid .product-links li a:hover:after{ right: 53px; }
.product-grid .price{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.product-grid .product-content{
    padding: 12px 0 0;
    position: relative;
}
.product-grid .title{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.product-grid .title a{
    color: #000;
    transition: all 0.3s ease;
}
.product-grid .title a:hover{ color: #666; }

</style>








<div class="row" style="margin-top: 10px;">
    {% for product in products %}
    <div class="col-md-3 col-sm-6">
        <div class="product-grid" style="height: 300px; border: 2px solid rgb(224, 193, 88);">
            <div class="product-image">
                <a href="{{ product.get_absolute_url }}" class="image">
                    <img class="pic-1" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.jpg" %}{% endif %}">
                </a>
                <ul class="product-links">
                    <li><a href="javascript:void(0);" onclick="addToFavorites({{ product.id }})" data-tip="Добавить в избранное"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#" data-tip="Обзор"><i class="fa fa-search"></i></a></li>
                    <li>
                        <a href="#" class="add-to-cart-link" data-product-id="{{ product.id }}" data-tip="Добавить в корзину">
                            <img src="{% static "img/cart.png" %}" alt="Корзина">
                            <img src="{% static "img/ok.png" %}" style="display: none;">
                        </a>
                    </li>
                </ul>
                <div class="price">{{ product.price }}</div>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                <h3 class="title">{{ product.category }} / {{ product.volume }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% csrf_token %}


<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    function addToFavorites(product_id) {
    fetch(`/add-to-favorite/${product_id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.created) {
            alert(data.message); // Показать сообщение об успешном добавлении товара
            // Изменить цвет иконки сердечка на другой цвет
            const heartIcon = document.getElementById(`heart-icon-${product_id}`);
            heartIcon.style.color = 'red'; // Измените цвет на желаемый, в данном случае на красный
        } else {
            alert(data.message); // Показать сообщение о том, что товар уже в избранном
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
}
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.add-to-cart-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            
            const productId = link.getAttribute('data-product-id');
            fetch(`/cart/ajax/add/${productId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (link.dataset.added === 'true') {
                        // Удаляем товар из корзины
                        fetch(`/cart/ajax/remove/${productId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken'),
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Обновляем изображение и сбрасываем флаг добавления
                            link.querySelector('img').setAttribute('src', '{% static "img/cart.png" %}');
                            link.dataset.added = 'false';
                        })
                        .catch(error => console.error('Произошла ошибка при удалении товара из корзины:', error));
                    } else {
                        // Добавляем товар в корзину
                        link.querySelector('img').setAttribute('src', '{% static "img/ok.png" %}');
                        link.dataset.added = 'true';
                    }
                }
            })
            .catch(error => console.error('Произошла ошибка:', error));
        });
    });
});

function getCookie(name) {
    return document.cookie.split('; ').find(c => c.startsWith(name + '=')).split('=')[1];
}
</script>



{% endblock %}