{% extends "shop/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-abcdef" crossorigin="anonymous">
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}




<style>
.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
    width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #413f3f;
	font-weight: 600;
}



.product-links a {
	font-size: 20px;
	margin-left: 10px;
}
</style>









<section class="main-content">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.jpg" %}{% endif %}" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#" style="font-size: 25px;">{{ product.name }}</a></h4>
                        <p>{{ product.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{ product.price }}
                            </div>
                            <div class="product-links">
                                <a href="#" class="add-to-cart-link" data-product-id="{{ product.id }}" data-tip="В корзину">
                                    <img src="{% static "img/cart.png" %}" alt="Корзина">
                                    <img src="{% static "img/ok.png" %}" style="display: none;">
                                </a>
                                <a href="javascript:void(0);" onclick="addToFavorites({{ product.id }})" data-tip="В избранное">
                                    <img id="heart-icon-{{ product.id }}" src="{% static 'images/heart.png' %}" alt="Сердце">
                                    <img id="like-icon-{{ product.id }}" src="{% static 'images/like.png' %}" style="display: none;" alt="Лайк">
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>






{% csrf_token %}


<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

function addToFavorites(product_id) {
    const heartIcon = document.getElementById(`heart-icon-${product_id}`);
    const likeIcon = document.getElementById(`like-icon-${product_id}`);
    
    fetch(`/add-to-favorite/${product_id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.created) {
            alert(data.message); // Показать сообщение об успешном добавлении товара в избранное
            heartIcon.style.display = 'none'; // Скрыть сердечко
            likeIcon.style.display = 'block'; // Показать изображение лайка
        } else {
            alert(data.message); // Показать сообщение о том, что товар уже в избранном
            heartIcon.style.display = 'block'; // Показать сердечко
            likeIcon.style.display = pins`none`; // Скрыть изображение лайка
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
}
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.add-to-cart-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            
            const productId = link.getAttribute('data-product-id');
            fetch(`/cart/ajax/add/${productId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (link.dataset.added === 'true') {
                        // Удаляем товар из корзины
                        fetch(`/cart/ajax/remove/${productId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken'),
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Обновляем изображение и сбрасываем флаг добавления
                            link.querySelector('img').setAttribute('src', '{% static "img/cart.png" %}');
                            link.dataset.added = 'false';
                        })
                        .catch(error => console.error('Произошла ошибка при удалении товара из корзины:', error));
                    } else {
                        // Добавляем товар в корзину
                        link.querySelector('img').setAttribute('src', '{% static "img/ok.png" %}');
                        link.dataset.added = 'true';
                    }
                }
            })
            .catch(error => console.error('Произошла ошибка:', error));
        });
    });
});

function getCookie(name) {
    return document.cookie.split('; ').find(c => c.startsWith(name + '=')).split('=')[1];
}
</script>



{% endblock %}