{% extends "shop/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-abcdef" crossorigin="anonymous">
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}




<style>
.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
    width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #413f3f;
	font-weight: 600;
}



.product-links a {
	font-size: 20px;
	margin-left: 10px;
}
</style>









<section class="main-content">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.jpg" %}{% endif %}" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#" style="font-size: 25px;">{{ product.name }}</a></h4>
                        <p>{{ product.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{ product.price }}
                            </div>
                            <div class="product-links">
                                <a href="#" class="add-to-cart-link" data-product-id="{{ product.id }}" data-tip="В корзину">
                                    <img src="{% static "img/cart.png" %}" alt="Корзина">
                                    <img src="{% static "img/ok.png" %}" style="display: none;">
                                </a>
                                <a href="#" class="favorite-link" data-product-id="{{ product.id }}" data-tip="В избранное">
                                    <img id="heart-icon-{{ product.id }}" src="{% static 'images/heart.png' %}" alt="Сердце">
                                    <img id="like-icon-{{ product.id }}" src="{% static 'images/like.png' %}" style="display: none;" alt="Лайк">
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>






{% csrf_token %}


<script>
document.addEventListener('DOMContentLoaded', function() {
    function setInitialImages() {
        document.querySelectorAll('.favorite-link').forEach(function(link) {
            const productId = link.getAttribute('data-product-id');
            const inFavorites = localStorage.getItem(`favorite_${productId}`) === 'true';
            
            if (inFavorites) {
                document.getElementById(`heart-icon-${productId}`).src = '{% static "images/like.png" %}';
            } else {
                document.getElementById(`heart-icon-${productId}`).src = '{% static "images/heart.png" %}';
            }
        });

        document.querySelectorAll('.add-to-cart-link').forEach(function(link) {
            const productId = link.getAttribute('data-product-id');
            const inCart = localStorage.getItem(`cart_${productId}`) === 'true';
            
            if (inCart) {
                link.querySelector('img').setAttribute('src', '{% static "img/ok.png" %}');
                link.dataset.added = 'true';
            } else {
                link.querySelector('img').setAttribute('src', '{% static "img/cart.png" %}');
                link.dataset.added = 'false';
            }
        });
    }

    setInitialImages();

    // Код добавления и удаления избранного
    document.querySelectorAll('.favorite-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const productId = link.getAttribute('data-product-id');
            const heartIcon = document.getElementById(`heart-icon-${productId}`);

            if (heartIcon.src.includes('like.png')) {
                fetch(`/remove-from-favorite/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    heartIcon.src = '{% static "images/heart.png" %}';
                    localStorage.removeItem(`favorite_${productId}`);
                })
                .catch(error => console.error('Произошла ошибка при удалении товара из избранного:', error));
            } else {
                fetch(`/add-to-favorite/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    heartIcon.src = '{% static "images/like.png" %}';
                    localStorage.setItem(`favorite_${productId}`, 'true');
                })
                .catch(error => console.error('Произошла ошибка:', error));
            }
        });
    });

    // Код добавления и удаления из корзины
    document.querySelectorAll('.add-to-cart-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const productId = link.getAttribute('data-product-id');

            if (link.dataset.added === 'true') { // Удаление товара из корзины
                fetch(`/cart/ajax/remove/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    link.querySelector('img').setAttribute('src', '{% static "img/cart.png" %}');
                    link.dataset.added = 'false';
                    localStorage.removeItem(`cart_${productId}`);
                    updateCartData();
                })
                .catch(error => console.error('Произошла ошибка при удалении товара из корзины:', error));
            } else {
                fetch(`/cart/ajax/add/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        link.querySelector('img').setAttribute('src', '{% static "img/ok.png" %}');
                        link.dataset.added = 'true';
                        localStorage.setItem(`cart_${productId}`, 'true');
                        updateCartData();
                    }
                })
                .catch(error => console.error('Произошла ошибка:', error));
            }
        });
    });

    function getCookie(name) {
        return document.cookie.split('; ').find(c => c.startsWith(name + '=')).split('=')[1];
    }

    function updateCartData() {
        fetch('/cart/count/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const cartCountElement = document.querySelector('#cart-count-element');
            cartCountElement.textContent = data.total_items;
        })
        .catch(error => console.error('Произошла ошибка при обновлении количества товаров в корзине:', error));
    }
});
</script>


{% endblock %}