{% load static %}


<!-- header section start -->
<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-light bg-light justify-content-between">
          <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="index.html">Home</a>
             <a href="products.html">Products</a>
             <a href="about.html">About</a>
             <a href="client.html">Client</a>
             <a href="contact.html">Contact</a>
          </div>
          <span class="toggle_icon" onclick="openNav()"><img src="{% static "images/toggle-icon.png" %}"></span>
          <a class="logo" href="index.html"><img src="{% static "images/logo.png" %}"></a></a>
          <form class="form-inline ">
             <div class="login_text">
                <ul>
                   <li><a href="#"><img src="{% static "images/user-icon.png" %}"></a></li>
                   <li><a href="#"><img src="{% static "images/bag-icon.png" %}"></a></li>
                   <li><a href="#" id="search-icon"><img src="{% static "images/search-icon.png" %}"></a></li>
             </div>
          </form>
       </nav>
    </div>
 </div>
 <!-- header section end -->
 <!-- banner section start -->
 <div class="banner_section layout_padding">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="row">
                   <div class="col-sm-6">
                      <h1 class="banner_taital">Beauty <br>Kit</h1>
                      <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                      <div class="read_bt"><a href="#">Buy Now</a></div>
                   </div>
                   <div class="col-sm-6">
                      <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-sm-6">
                      <h1 class="banner_taital">Beauty <br>Kit</h1>
                      <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                      <div class="read_bt"><a href="#">Buy Now</a></div>
                   </div>
                   <div class="col-sm-6">
                      <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-sm-6">
                      <h1 class="banner_taital">Beauty <br>Kit</h1>
                      <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                      <div class="read_bt"><a href="#">Buy Now</a></div>
                   </div>
                   <div class="col-sm-6">
                      <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-sm-6">
                      <h1 class="banner_taital">Beauty <br>Kit</h1>
                      <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                      <div class="read_bt"><a href="#">Buy Now</a></div>
                   </div>
                   <div class="col-sm-6">
                      <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>



