{% load static %}



<style>
@media (max-width: 900px) {
   .container-fluid {
      max-width: 100%;
      padding-left: 5px;
      padding-right: 5px;
   }

   .login_text {
      display: inline-block;
   }
}

.cart-icon {
  position: relative;
}
.cart-icon img {
  width: 35px;
  height: 35px;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -7px;
  background-color: #252525;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 9px;
}


</style>

<div class="header_section" >
   <div class="container-fluid" >
      <nav class="navbar navbar-light bg-light justify-content-between">
         <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index.html">Home</a>
            <a href="products.html">Products</a>
            <a href="about.html">About</a>
            <a href="client.html">Client</a>
            <a href="contact.html">Contact</a>
         </div>
         <span class="toggle_icon" onclick="openNav()"><img src="{% static "images/toggle-icon.png" %}"></span>
         <a class="logo" href="{% url "shop:product_list" %}"><img src="{% static "images/dior.png" %}" style="height: 80px;"></a>
         <form class="form-inline">
            <div class="login_text">
               <ul>
                  <li><a href="{% url 'account:favorites' %}" ><img src="{% static "images/heart.png" %}"></a></li>
                  <li><a href="{% url "account:dashboard" %}"><img src="{% static "images/acc1.png" %}" ></a></li> 

                  <li>
                     <a href="{% url "cart:cart_detail" %}">
                     <div class="cart-icon">
                        <img src="{% static "images/cart1.png" %}" alt="Cart icon">
                        <span class="cart-count" id="cart-count-element">
                           {% with total_items=cart|length %}
                              {{ total_items }}
                           {% endwith %}
                        </span>
                     </div>
                     </a>
                  </li>
                  <li><a href="#" id="search-icon"><img src="{% static "images/search1.png" %}"></a></li>
               </ul>
            </div>
         </form>
      </nav>
   </div>
</div>

<script>
   function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
      document.body.style.overflow = "hidden";
   }
            
   function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.body.style.overflow = "auto";
   }
</script>


 