


<div class="row" data-aos="fade-up">
    <div class="col-md-12 text-center">
        <div class="site-block-27">
            <ul>
                <li>{% if page.has_previous %}
                        <a href="?page={{ page.previous_page_number }}">
                    {% endif %}&lt;</a></li>
                    <li class="active">Страница {{ page.number }} из {{ page.paginator.num_pages }}.</li>
                <li>{% if page.has_next %}
                        <a href="?page={{ page.next_page_number }}">
                    {% endif %}&gt;</a></li>
            </ul>
        </div>
    </div>
</div>


