*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


li{
    list-style: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    background: #964f86;
    display: flex;
}

.header_logo{
    color: black;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

nav{
    margin-top: 56px;
    margin-left: 29%;
}